// =============================================================================
// _colors.scss : Colors for Project
// MIT License
// =============================================================================

// =============================================================================
// _colors.scss settings
// =============================================================================

//Palette Yellow
$primary-color: #f4d52d;
$color-2: #d9004b;
$color-3: #ec87aa;
$color-4: #e6eaec;
$color-5: #f7b633;
$color-6: #c6e4f7;
$color-7: #fef8e9; 

